
.top
{
  width: auto;
  background-color: white;
  display: block;
}
.pagelogo
{
  padding:10px;
  align:left;
  width: 120px;
  height: 100px;
}
.right,.medium
{
  float:right;
}
.phonelogo, .maillogo
{
  align:right;
  padding:5px;
  width: 50px;
  height: 50px;
}


.links
{
  display: block;
  background-color: #262626;
  height:70px;
  color:white;
  margin:0;

}
.navlinks
{
  text-decoration: none;
  color:white;
  font-size:20px;
  font-weight: bolder;
}
.navlinks:hover
{
  color:red;
  text-decoration:none;
}



.Facilities
{
  margin:10px;
  background-color:#fae6ff;
}
.Facilities_Heading
{
  font-size:40px;
  font-family: monospace;
  line-height:20px;
  color: #440066;
  font-weight:bolder;
  text-align:center;
}

.img-responsive
{
    width:100%;
    height:200px;
}
.parts
{
    background-color:#eeccff;
    font-family: sans-serif;
    color:#660066;
    font-size: 20px;
    text-align: center;
    height: auto;
    padding: 20px;
}









.Bookings
{
  margin:10px;
  background-color:#ffe5ff;

}
.booking_heading
{
  font-size:40px;
  font-family: monospace;
  line-height:20px;
  color:   #4d0026;
  font-weight:bolder;
  text-align:center;
}
.reg1
{
  width:100%;
text-align: center;
color:#800040;
font-size: 16px;
font-weight: bolder;
}
.table1
{
  background-color:#ffffe6;
}
td,tr
{
border:2px solid black;
}
td
{
  height:40px;
}
.table3
{
    width:100%;
background-color:#ffffe6;
}


.VideoDiv
{
  top:auto;
  height: 880px;
}
.video
{
    height:300;
    width:100%;
}





.Testimonials
{
  margin:10px;
  padding:10px;
  background-color:#eff5f5;
}
.testimonialsp1
{
  font-size:40px;
  font-family: monospace;
  line-height:20px;
  color:  #99004d;
  font-weight:bolder;
  text-align:center;
}
.testimonialshr
{
 width: 40%;
 border:3px solid #e0e0d1;
}




.ContactUs
{
  margin:10px;
  padding:10px;
  background-color: #e6fff3;
}
.contactusp1
{
  font-size:40px;
  font-family: monospace;
  font-height:20px;
  color: #006680;
  font-weight:bolder;
  text-align:center;
}
.contactusdata
{
  font-size:22px;
  LINE-HEIGHT:30px;
  font-family:serif;
  color: #0086b3;
  text-align:center;
}






.AboutUs
{
  margin:10px;
  padding:10px;
  background-color: #e6f3ff;
}
.aboutusp1
{
  font-size:40px;
  font-family: monospace;
  color:#264d00;
  font-weight:bolder;
  text-align:center;
}
.aboutusp
{
  font-size:18px;
    LINE-HEIGHT:25px;
  font-family:serif;
  color: #008040;
  text-align:center;
}







.foot
{
    background-color:#191919;
    height:250px;
    color:white;
    display: block;
    vertical-align: baseline;
    margin:0;
    clear: both;
}
.footline
{
  width: 80%;
  border:1px solid gray;
}

.footlinks
{
  color:white;
  font-size: 16px;
  font-height:10px;
  text-decoration:none;
}
