body
{
  margin:0;
  //background-color: #ffffe6;
}

.top
{
  width: auto;
  background-color: white;
}
.pagelogo
{
  padding:10px;
  align:left;
  width: 120px;
  height: 100px;
}
.right,.medium
{
  float:right;
}
.phonelogo, .maillogo
{
  align:right;
  padding:5px;
  width: 50px;
  height: 50px;
}

.links
{
  background-color: #262626;
  height:50px;
  color:white;
  display: block;
  margin:0;
  clear: both;
}
.navlinks
{
  text-decoration: none;
  color:white;
  font-size:40;
}

.Facilities
{
  margin:10px;
  border: 2px solid green;
}


.Bookings
{
  margin:10px;
  border: 2px solid yellow;
}

.Testimonials
{
  margin:10px;
  border: 2px solid blue;
}

.ContactUs
{
  margin:10px;
  border: 2px solid pink;
}

.AboutUs
{
  margin:10px;
  padding:10px;
  background-color: #e6f3ff;
}
.aboutusp1
{
  font-size:40px;
  font-family: monospace;
  font-height:20px;
  color:#264d00;
  font-weight:bolder;
  text-align:center;
}
.aboutusp
{
  font-size:18px;
  font-family:serif;
  color: #008040;
  text-align:center;
}



.foot
{
    background-color:#191919;
    height:50px;
    color:white;
    display: block;
    vertical-align: baseline;
    margin:0;
    clear: both;
}
.footlinks
{
  color:white;
  font-size: 16px;
  font-height:10px;
  text-decoration:none;
}
